In [24]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
training_data = pd.read_csv('./trainingData.csv')
training_data = training_data.drop('Unnamed: 0', axis=1)
training_data

,pressure_1,pressure_2,pressure_3,temperature_1,temperature_2,temperature_3,temperature_4,vibration,condition,timestamp,pump_id
0,160.673492,109.466914,1.991475,35.621983,40.978767,38.471017,31.745250,0.576950,0,2024-01-01 00:00:00,PUMP_001
1,160.603320,109.354890,1.976234,36.676967,41.532767,38.978967,34.493867,0.565850,0,2024-01-01 00:01:00,PUMP_001
2,160.347720,109.158845,1.972224,37.880800,42.442450,39.631950,35.646150,0.576533,0,2024-01-01 00:02:00,PUMP_001
3,160.188088,109.064807,1.946575,38.879050,43.403983,40.403383,36.579467,0.569267,0,2024-01-01 00:03:00,PUMP_001
4,160.000472,108.931434,1.922707,39.803917,44.332750,41.310550,37.427900,0.577367,0,2024-01-01 00:04:00,PUMP_001
...,...,...,...,...,...,...,...,...,...,...,...
1700,160.498498,109.106734,1.925198,35.702833,41.240800,38.603550,30.651167,0.533500,2,2024-01-02 04:20:00,PUMP_001
1701,160.493893,109.086176,1.921208,35.701133,41.241950,38.609083,30.650933,0.541783,2,2024-01-02 04:21:00,PUMP_001
1702,160.483817,109.071214,1.921106,35.711367,41.244700,38.601133,30.693300,0.543133,2,2024-01-02 04:22:00,PUMP_001
1703,160.494500,109.096915,1.921129,35.705800,41.251600,38.607850,30.660350,0.539233,2,2024-01-02 04:23:00,PUMP_001
1704,160.506938,109.107520,1.920543,35.713350,41.250750,38.618050,30.703617,0.532483,2,2024-01-02 04:24:00,PUMP_001

## Missing Values
Here, we count the number of missing values in the dataset to see if we need to handle them. We find that there are zero missing values and thus no need to handle any missing values.

In [18]:
# Count number of missing values
sum = 0
for col in training_data.columns:
    sum += training_data[col].isnull().sum()

sum

0

## Outliers
Here, we classify an outlier as any sample point greater than 3 standard deviations above or below the mean.

In [25]:
for col in training_data.columns:
    z_scores = np.abs(stats.zscore(training_data[col]))
    z_score_outliers = (z_scores > 3).astype(int)
    print(z_score_outliers)

0       0
1       0
2       0
3       0
4       0
       ..
1700    0
1701    0
1702    0
1703    0
1704    0
Name: pressure_1, Length: 1705, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1700    0
1701    0
1702    0
1703    0
1704    0
Name: pressure_2, Length: 1705, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1700    0
1701    0
1702    0
1703    0
1704    0
Name: pressure_3, Length: 1705, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1700    0
1701    0
1702    0
1703    0
1704    0
Name: temperature_1, Length: 1705, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1700    0
1701    0
1702    0
1703    0
1704    0
Name: temperature_2, Length: 1705, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1700    0
1701    0
1702    0
1703    0
1704    0
Name: temperature_3, Length: 1705, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1700    0
1701    0
1702    0
1703    0
1704    0
Name: temperature_4, Length: 1705, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1700    0
1701    0
1702    0
1703    0
1704    0
Name: vibration, Length: 1705, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1700    0
1701    0
1702    0
1703    0
1704    0
Name: condition, Length: 1705, dtype: int64

TypeError: unsupported operand type(s) for /: 'str' and 'int'